* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.container {
  color: #fff;
  background: linear-gradient(145deg, #1193b0, #6dd5ed);
  width: 400px;
  margin: 50px auto;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.section-bar {
  width: 50%;
  margin: 0px auto;
  padding-top: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  border-bottom: 1px solid #fff;
}