/* ép kiểu trang web */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

/* những phần style chung */
.max-width {
  max-width: 1300px;
  /* chiều ngang <= 1300px */
  padding: 50px;
  /* khoảng cách từ content -> border thẻ */
  margin: 0px auto;
}

.max-width .title {
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
}

.max-width .orange-bar {
  width: 100px;
  height: 2px;
  background-color: orange;
  margin-top: 30px;
}

/* ************************ */


/* home menu */
.home-menu {
  background-image: url(./images/hero.jpg);
  height: 700px;
  background-size: cover;
  color: #fff;

  position: relative;
  /* đặt mốc đây là tầng thứ  1*/
}

nav {
  margin-left: 10%;
}


nav .max-width {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .max-width .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  height: 80px;
  align-items: center;
}

nav .max-width .menu li {
  list-style: none;
  cursor: pointer;
  transition: all 0.5s;
}

nav .max-width .menu li:hover {
  color: orange;
}

.max-width .logo img {
  width: 80px;
  height: 80px;
}

/* Style opacity-menu */
.opacity-menu {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;


  /* phân tầng */
  position: absolute;
  z-index: 2;
}

.max-width .logo {
  z-index: 3;
}

.max-width .menu {
  z-index: 3;
}


/* stye content-menu */
.home-menu .content-menu {
  width: 900px;
  height: 200px;
  margin-left: 10%;
  padding: 50px;
  color: #fff;

  /* phân tầng cho nó */
  position: relative;
  /* đặt mốc tầng (nhưng ko thay đổi vị trí tầng) */
  z-index: 3;
}

.home-menu .content-menu .text p {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 150;
  line-height: 60px;
}

.content-menu .multi-button {
  width: 320px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-menu .multi-button button {
  width: 150px;
  height: 40px;
  background: none;
  border: 1px solid orange;
  border-radius: 30px;
  cursor: pointer;
}

#button1 {
  background-color: orange;
  color: #fff;
}

#button2 {
  color: orange;
}


/*  Home content */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content .max-width {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.home-content .max-width .about {
  margin-top: 30px;
}



/* Box content */
.home-content .content-boxes {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 30px;
}

.content-boxes .content-box {
  width: 250px;
  height: fit-content;
}

.content-boxes .content-box i {
  color: orange;
  font-size: 50px;
  line-height: 70px;
}

.content-boxes .content-box p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.content-boxes .content-box .title {
  font-size: 20px;
  text-transform: uppercase;
}