* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}



.home-container {
    width: 100%;
    height: 700px;
    padding: 100px;
    background-color: beige;

    display: flex;
    flex-direction: row;
    /* 2 phan tu tren web da thang hang */
}